body {
    background-color: #f4f4f9;
}
#cor{
    background-color: #0c5f55;
}
#let{
    color: #e9ecef;
}
.container {
    margin-top: 20px;
}
.card-header {
    background-color: #0c5f55;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.task-time {
    font-weight: bold;
}
.task-item {
    /* background-color: #0c5f55; */
    margin-bottom: 10px;
    padding-left: 10px;
}
.message-item {
    border-bottom: 1px solid #e9ecef;
    padding: 10px 0;
}
.message-item:last-child {
    border-bottom: none;
}
.message-time {
    color: grey;
    font-size: 12px;
}
.btn-load-more {
    background-color: #0c5f55;
    color: white;
    margin: 10px;
    width: 95%;
}
.card-body-scrollable {
    height: 300px; /* Defina a altura desejada */
    overflow: auto;
}
